<% if(theme.visit_counter.on){ %>
<div class="container visit_counter">
	<span id="busuanzi_container_site_uv"> 
		<i class="fa fa-user"></i><span id="busuanzi_value_site_uv"></span>
	</span>&nbsp;|&nbsp;
	<span id="busuanzi_container_page_pv">
		<i class="fa fa-eye"></i><span id="busuanzi_value_page_pv"></span>
	</span>
</div>
<% } %>
<footer class="blog-footer">
<!--
	<p>The template theme built for bootstrap</p>
	<p> Adapted for Hexo by liuyf</p>
	-->
	<p>Copyright ©2016 liuyf
</footer>
<div class="bg-flower"></div>
<!--
style="background-image:url('/images/flower.png');"
-->
<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-585b44473f5fa70b"></script> --> 