<head>
	<meta chartset="utf-8">
	<meta http=equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="<% if ( page.title ){ %><%= page.title %><% } %>">
	<meta name="keywords" content="<% if ( page.title ){ %><%= page.title %><% } %>">
	<meta name="baidu-site-verification" content="Q0mtq9wN99" />
	<link rel="icon" href="/favicon/favicon.ico">
	<title><% if ( page.title ){ %><%= page.title %> | <% } %> <%= config.title %></title>

	<!-- Bootstrap core css -->
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" async>
	<!-- Blog css -->
	<link rel="stylesheet" href="/css/blog.css" type="text/css" async>
	<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?f104cb97af860cf93c0ac8974d3d762a";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>