<div class="tag-title">标签</div>
<div class="row tags-wrap">
	<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 tags">
		<%- tagcloud({
			min_font: 16, 
        	max_font: 35,
			amount: 999,
			color: true,
			start_color: 'gray',
			end_color: '#383131'
		}) %>
	</div>
</div>